h2.msg-success{
    color: green;
    text-align: center;
    margin-top: 10px;
}
h2.msg-failed{
    color: red;
    text-align: center;
    margin-top: 10px; 
}
.form-header{
    height: 80px;
    
}
.p-form{
   padding-top: 15px; 
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.form{
    margin-left: 0 !important;
}



